.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
}

.column-sixty-percent {
  width: 60%;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  button {
    padding: 0.5rem;
  }

  .column-sixty-percent {
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .fa-chevron-right {
    position: relative;
    left: 2rem;
  }

  .fa-chevron-left {
    position: relative;
    right: 2rem;
  }

  .column-full {
    width: 100%;
  }
}
