.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
}

.column-sixty-percent {
  width: 60%;
}

.column-full,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: inherit;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  button {
    padding: 0.5rem;
  }

  .column-sixty-percent {
    width: 60%;
  }
}

@media screen and (min-width: 769px) {
  .arrow-right {
    position: relative;
    left: 2rem;
  }

  .arrow-left {
    position: relative;
    right: 2rem;
  }

  .column-full {
    width: 100%;
  }

  .hamburger-menu {
    width: 3%;
    height: 5vh;
  }

  .bars {
    margin-top: 6px;
  }

  .align-center {
    align-items: center;
  }

  .row {
    display: flex;
  }

  .modal {
    width: 22%;
    height: 22vh;
    background-color: #7c7461;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 1px 10px black;
  }

  .inside-modal {
    width: 100%;
    padding: 0 1.5rem;
    line-height: 1.5rem;
  }

  .cancel {
    padding: 8px;
    background-color: #a31111;
    border-radius: 5px;
    border-style: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .confirm {
    border-radius: 5px;
    border-style: none;
    background-color: #249c30;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.align-center {
  align-items: center;
}

@media screen and (max-width: 667px) {
  .modal {
    width: 60%;
    height: 22vh;
    background-color: #7c7461;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 1px 10px black;
  }

  .inside-modal {
    width: 100%;
    padding: 0 1.5rem;
    line-height: 1.5rem;
  }

  .cancel {
    padding: 8px;
    background-color: #a31111;
    border-radius: 5px;
    border-style: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .confirm {
    border-radius: 5px;
    border-style: none;
    background-color: #249c30;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
  }

  .hamburger-menu {
    width: 20%;
    height: 7vh;
  }

  .bars {
    margin-top: 10px;
  }
}
