body {
  background-color: #5b5548;
}

.center-emoji {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.text-align-center {
  text-align: center;
}

.emoji {
  background-color: transparent;
  border: none;
  font-size: 7rem;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: 0.5s;
}

h1 {
  color: #e5e5e5;
  font-family: 'Pacifico', sans-serif;
  font-weight: 400;
}

.emoji:hover {
  transform: scale(1.1);
}

.under-line {
  border-bottom: #eee;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-width: 1px;
}

.justify-align-center {
  justify-content: center;
  align-items: end;
}

.height {
  height: 40vh;
}

p {
  color: #eee;
  font-size: 400;
  font-family: 'Roboto', sans-serif;
}

.justify-content-align {
  justify-content: space-around;
  align-items: center;
}

.arrow-left,
.arrow-right {
  font-size: xx-large;
  color: white;
  cursor: pointer;
}

.favorite-emoji {
  background-color: transparent;
  border: none;
  font-size: 4rem;
  cursor: pointer;
  user-select: none;
  transform: scale(1);
  transition: 0.5s;
}

.favorite-emoji:hover {
  transform: scale(1.1);
}

.favorite-emoji-position {
  position: absolute;
  bottom: 0;
}

.laughing-emoji-position {
  position: absolute;
  right: 0.8rem;
}

.justify-content-center {
  justify-content: center;
}

.hamburger-menu {
  font-size: 25px;
  color: white;
  border-radius: 5px;
  border-style: solid;
  text-align: center;
  border-width: thin;
  border-color: rgb(157, 153, 145);
}

.hamburger-menu > a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.bars {
  color: rgb(173, 170, 164);
}
